<div class="row-fluid" data-bind="foreach: usbrelayButtons">
    <div class="usbrelaycontrol-button-row row-fluid">
        <div class="usbrelaycontrol-button-label span7">
            <i data-bind="class: icon"></i>
            <span data-bind="text: name"></span>
        </div>
        <div class="usbrelaycontrol-button-controls input-prepend input-append span5">
            <button class="btn" data-toggle="dropdown" data-bind="click: $parent.turnUSBRelayOn, attr : {'disabled' : current_state != 'off'}">ON</button>
            <button class="btn" data-toggle="dropdown" data-bind="click: $parent.turnUSBRelayOff, attr : {'disabled' : current_state != 'on'}">OFF</button>
        </div>
    </div>
</div>
